<script>

    function getOS() {
        var userAgent = window.navigator.userAgent,
        platform = window.navigator.platform,
        macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
        windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
        iosPlatforms = ['iPhone', 'iPad', 'iPod'],
        os = null;

        if (macosPlatforms.indexOf(platform) !== -1) {
            os = 'Mac OS';
        } else if (iosPlatforms.indexOf(platform) !== -1) {
            os = 'iOS';
        } else if (windowsPlatforms.indexOf(platform) !== -1) {
            os = 'Windows';
        } else if (/Android/.test(userAgent)) {
            os = 'Android';
        } else if (!os && /Linux/.test(platform)) {
            os = 'Linux';
        }

        return os;
    }

    var info

    if (getOS() == 'Mac OS') {
        info = {os: 'macOS', subtitle: '.dmg, .pkg', fileExt: '.pkg', src: ''}
    } else if (getOS() == 'WINDOWS') {
        info = {os: 'Windows', subtitle: '.exe', fileExt: '.exe', src: ''}
    } else if (getOS() == 'Linux') {
        info = {os: 'LINUX', subtitle: '.deb, .rpm', fileExt: '.deb', src:'https://gitlab.com/gaetgu/gaetgu.gitlab.io/-/raw/main/executables/geo-1.0_amd64.deb?inline=false'}
    }


</script>

<main>
    <div class="text-center">
            <h5 >{info.os}</h5>
            <div >
                <h6 class="card-subtitle mb-2 text-muted">{info.subtitle}</h6>
                <p class="card-text">Download GeoLang for {info.os} operating systems.</p>
                <button class="btn btn-dark"><a href="{info.src}">Download {info.fileExt}</a></button>
            </div>
    </div>
</main>

<style>
    main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
        margin-top: 20px !important;
        background-color: rgb(255, 255, 255);
	}

	h5 {
		color: #ff3e00;
		/* text-transform: uppercase; */
		font-size: 4em;
        /* margin: 20px; */
		font-weight: 100;
    }

    a {
        text-decoration: none;
        color: white;
    }
</style>