<script>
    import NavBar from './NavBar.svelte'
    import InstallCard from './InstallCard.svelte'
</script>

<NavBar current="Installation" />

<main>
    <h6 class="text-center">NOTE: As of right now, only binaries for Linux are available</h6>

    <InstallCard />
</main>

<style>
    h6 {
		color: #ff3e00;
		/* text-transform: uppercase; */
		font-size: 2em;
        /* margin: 20px; */
		font-weight: 100;
    }
</style>
