<script>
    import NavBar from "./NavBar.svelte";
    
</script>

<NavBar current="Tutorials" />

<main>
    <!-- I re-used the 404 page lol -->
    <div title="404">COMING SOON</div>
    <!-- <p class="text-center"><br>(Geo is still in heavy development. Come back later!)</p> -->
</main>

<style>
    @import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

    main {
        display: flex;
        width: 100vw;
        height: 85vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        background: #fff;
        color: #ff3e00;
        font-family: 'Fira Mono', monospace;
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
        position: relative;
        top: 0;
        left: 0;
        margin-top: 5vh;
    }

    div {
        animation: glitch 1s linear infinite;
        font-size: 96px;
    }

    @keyframes glitch {

        2%,
        64% {
            transform: translate(2px, 0) skew(0deg);
        }

        4%,
        60% {
            transform: translate(-2px, 0) skew(0deg);
        }

        62% {
            transform: translate(0, 0) skew(5deg);
        }
    }

    div:before,
    div:after {
        content: attr(title);
        position: absolute;
        left: 0;
    }

    div:before {
        animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }

    @keyframes glitchTop {

        2%,
        64% {
            transform: translate(2px, -2px);
        }

        4%,
        60% {
            transform: translate(-2px, 2px);
        }

        62% {
            transform: translate(13px, -1px) skew(-13deg);
        }
    }

    div:after {
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }

    @keyframes glitchBotom {

        2%,
        64% {
            transform: translate(-2px, 0);
        }

        4%,
        60% {
            transform: translate(-2px, 0);
        }

        62% {
            transform: translate(-22px, 5px) skew(21deg);
        }
    }
</style>